<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <div id="container">
        <% resultProject.data.forEach((row) => { %>
            <li>ID: <%= row.id %></li>
            <li>User ID: <%= row.userId %></li>
            <li>Title: <%= row.title %></li>
            <li>Description: <%= row.description %></li>
            <li>Contact Info: <%= row.contactInfo %></li>
            <br>
          <% }) %>
    </div>
</body>
</html>
