<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link href="/style/main.css" rel="stylesheet" type="text/css">
</head>
<body class="project-home-body">
    <div id="navbar-container"></div>
    <div class="container">
        <% resultProject.data.forEach((row) => { %>
            <div id="<%= row.id %>" class="item" onclick="handleClick('<%= row.id %>')">
                <li>Title: <%= row.title %></li>
                <li>Description: <%= row.description %></li>
                <li>Contact Info: <%= row.contactInfo %></li>
            </div>
            <br>
          <% }) %>
    </div>
    <script src="/script/navbar.js"></script>
</body>
</html>

<script>
    function handleClick(id){
        //handle click
        console.log(id);
        link = window.location.href
        if(link.charAt(link.length -1) === '/'){
            link = link.slice(0, -1);
        }
        window.location.href = link + "/" + id;
    }
</script>
