<!DOCTYPE html>
<html>
<head>
    <%result = resultProject.data[0]%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=result.title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link href="/style/main.css" rel="stylesheet" type="text/css">
    <style>
      .highlight {
        background-color: #abbaf1;
        color: #FFFFFF;
        font-weight: bold;
        padding: 2px 4px;
        border-radius: 4px;
      }

    </style>
</head>

<body scroll="no" style="overflow: hidden" id="test-body" class="navbar-page">
  <div id="navbar-container"></div>
    <div class="container">
        <div class="description-images-container">
          <div class="description-box">
            <h2>Bedrijf Info</h2>
            <h3><%=result.contactInfo%></h3>
          </div>
          <div class="images-box">
            <h2>Files</h2>
            <div id="filecontainer">
              <% files.forEach(file => {%>
                  <a href="/resources/upload/<%=makerMail%>/<%=result.id%>/files/<%=file%>"><%=file%></a><br>
              <%});%>
          </div>
        </div>
        </div>
        <div class="info-box">
          <h1><%=result.title%></h1>
              <% courseListFinal.forEach(course => {%>
                <li><%=course%></li>
              <%});%>
          <h2><%=result.description%></h2>
        </div>
      </div>      
  <div id="chat-container">
      <% history.sort((a, b) => new Date(a.time) - new Date(b.time)).forEach(chat => { %>
        <% if (chat.userId === email) { %>
          <div class="own-message chat-message"> <span class="user"><%= chat.fullName %>:</span> <%= chat.chat %></div>
        <% } else { %>
          <div class="received-message chat-message"><span class="user"><%= chat.fullName %>:</span> <%= chat.chat %></div>
        <% } %>
    <% }) %>
    <form id="chat-form" method="post">
      <input type="text" name="" id="chat-input" >
      <button type="submit" id="send-button">Send</button>
      <input type="hidden" name="time" id="chat-time">
  </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
        <script>
          let email = "<%= email %>"
          let id = "<%= id %>"
          let fname = "<%= firstname %>"
          let lname = "<%= lastname %>"
        </script>
        <script src="/script/chat/chat.js"></script>
</body>
</html>
<script src="/script/navbar.js"></script>