<!DOCTYPE html>
<html lang="en">
<head>
    <%result = resultProject.data[0]%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <style>
        body{
            padding: 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
        }
        #chat-container{
            width: 80%;
            max-width: 1200px;
            height: 400px;
            border: 1px solid black;
        }
        
        #chat-container div{
            background-color: #ccc;
            padding: 5px;
        }
        
        #chat-container div:nth-child(2n){
            background-color: #fff;
        }
        
        
    </style>
</head>
<body>
    <%= makerMail %>
    <h1><%=result.title%></h1>
    <h2><%=result.description%></h2>
    <h3><%=result.contactInfo%></h3>
    <div id="filecontainer">
        <% files.forEach(file => {%>
            <a href="/resources/upload/<%=makerMail%>/<%=result.id%>/files/<%=file%>"><%=file%></a><br>
        <%});%>
    </div>
    <div id="coursecontainer">
        <% courseListFinal.forEach(course => {%>
            <li><%=course%></li>
        <%});%>
    </div>
    <div id="chat-container">
        <% history.sort((a, b) => new Date(a.time) - new Date(b.time)).forEach(chat => { %>
            <% if (chat.userId === email) { %>
              <div class="own-message"><%= chat.userId %>: <%= chat.chat %></div>
            <% } else { %>
              <div class="received-message"><%= chat.userId %>: <%= chat.chat %></div>
            <% } %>
        <% }) %>
    </div>          
    <form id="chat-form" method="post">
        <input type="text" name="" id="chat-input" >
        <button type="submit" id="send-button">Send</button>
        <input type="hidden" name="time" id="chat-time">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let email = "<%= email %>"
        let id = "<%= id %>"
    </script>
    <script src="/script.js"></script>
</body>
</html>