<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/main.css" rel="stylesheet" type="text/css">
    <title>User Table</title>
</head>
<body id="admin-body">
    <nav class="navbar">
        <div class="navbar-left">
            <img src="/style/images/placeholder.jpg" alt="Profile Button">
        </div>
        <div class="navbar-right">
            <img src="/style/images/placeholder.jpg" alt="Menu Button">
        </div>
    </nav>
    Pending
    
    <table>
        <thead>
            <tr>
                <a href="./approve/all" class="approve-button-all">Approve</a>
                <a href="./decline/all" class="decline-button-all">Decline</a>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Student Number</th>
                <th>Account Type</th>
                <th>Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.firstName %></td>
                    <td><%= user.lastName %></td>
                    <td><%= user.email %></td>
                    <td><%= user.studentNumber %></td>
                    <td><%= user.accountType %></td>
                    <td><%= user.admin %></td>
                    <td><a href="admin/approve/<%= user.id %>" class="approve-button">Approve</a>
                    <a href="admin/decline/<%= user.id %>" class="decline-button">Decline</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
