<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/main.css" rel="stylesheet" type="text/css">
    <title>User Table</title>
</head>
<body id="admin-body">
    <nav class="navbar">
        <div class="navbar-left">
            <img src="/style/images/placeholder.jpg" alt="Profile Button">
        </div>
        <div class="navbar-right">
            <img src="/style/images/placeholder.jpg" alt="Menu Button">
        </div>
    </nav>
    <div class="tabs">
        <button class="tab" id="accounts-tab">Accounts</button>
        <button class="tab" id="projects-tab">Projects</button>
    </div>
    
    <table id="accounts-table">
        <thead>
            <tr>
                <th>Accounts</th>
            </tr>
            <tr>
                <th><a href="admin/approve/account/all" class="approve-button-all">Approve</a></th>
                <th><a href="admin/decline/account/all" class="decline-button-all">Decline</a></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Student Number</th>
                <th>Account Type</th>
                <th>Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% data_accounts.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.firstName %></td>
                    <td><%= user.lastName %></td>
                    <td><%= user.email %></td>
                    <td><%= user.studentNumber %></td>
                    <td><%= user.accountType %></td>
                    <td><%= user.admin %></td>
                    <td><a href="admin/approve/account/<%= user.id %>" class="approve-button">Approve</a>
                    <a href="admin/decline/account/<%= user.id %>" class="decline-button">Decline</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <table id="projects-table">
        <thead>
            <tr>
                <th>Projects</th>
            </tr>
            <tr>
                <th><a href="admin/approve/project/all" class="approve-button-all">Approve</a></th>
                <th><a href="admin/decline/project/all" class="decline-button-all">Decline</a></th>
                <th>Email</th>
                <th>Title</th>
                <th>Description</th>
                <th>contactInfo</th>
                <th>Courses</th>
            </tr>
        </thead>
        <tbody>
            <% data_projects.forEach(project => { %>
                <tr>
                    <td><%= project.email %></td>
                    <td><%= project.title %></td>
                    <td><%= project.description %></td>
                    <td><%= project.contactInfo %></td>
                    <td><%= project.courses %></td>
                    <td><a href="admin/approve/project/<%= project.id %>" class="approve-button">Approve</a>
                    <a href="admin/decline/project/<%= project.id %>" class="decline-button">Decline</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <script src="/script/accounts/tabs.js"></script>
</body>
</html>
