<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/account/new" method="post">
        <label>First name
            <input type="text" name="firstName" value="<%= locals.firstName %>" required>
        </label>
        <label>Last name
            <input type="text" name="lastName" value="<%= locals.lastName %>" required>
        </label>
        <label>Email
            <input type="email" name="email" value="<%= locals.email %>" required>
        </label>
        <label>Student Number
            <input type="text" name="studentNumber" value="<%= locals.studentNumber %>" pattern="[0-9]{5}" maxlength="5" inputmode="numeric" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
        </label>
        <label>Password
            <input type="password" name="password" value="<%= locals.password %>" required>
        </label>
        <label for="accountType">sign up as:</label>
        <select name="accountType" required>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
            <option value="company">Company</option>
        </select>
        
        <button type="submit">Register</button>
    </form>
</body>
</html>